/* Estilos Gerais */
:root {
  --cor-texto-claro: #000000;
  --cor-fundo-claro: #ffffff;
  --cor-borda-claro: #000000;
  --cor-texto-escuro: #ffffff;
  --cor-fundo-escuro: #0d1117;
  --cor-borda-escuro: #2f81f7;
  --cor-texto-concluido: #888;
  --cor-borda-concluido: #ccc;
}

body {
  font-family: sans-serif;
}

.input-edicao {
  background-color: #1a202c;
  color: #fbfbfb;
  padding: 6px;
}

.dark .input-edicao {
  background-color: #fbfbfb;
  color: #0d1117;
}

.tarefa {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  border: 2px dotted var(--cor-borda-claro);
  /* background-color: #16325b; */
  color: var(--cor-texto-claro);
  margin-bottom: 10px;
  word-wrap: break-word;
}

.dark .tarefa {
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-texto-escuro);
  border-color: var(--cor-borda-escuro);
}

.tarefa-texto {
  margin-bottom: 5px;
}

.data-criacao {
  color: var(--cor-texto-claro);
}

.dark .data-criacao {
  color: white;
}

/* Tarefas Concluídas */
#tarefas-concluidas .tarefa {
  opacity: 0.7;
  border-color: var(--cor-borda-concluido);
}

#tarefas-concluidas .tarefa-texto {
  text-decoration: line-through;
  color: var(--cor-texto-concluido);
}

/* Listas de Tarefas */
#tarefas,
#tarefas-concluidas {
  list-style-type: none;
  /* padding: 10px; */
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.btn-limpar {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbfb;
  padding: 20px;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #161b22;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.concluido-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #161b22;
  text-decoration: underline;
  text-align: center;
  margin: 10px;
}

#xp-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#xp-container:hover #xp-tooltip {
  visibility: visible;
  opacity: 1;
}

#input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
}

#input-nova-tarefa {
  width: 70%;
  max-width: 530px;
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.dark #input-nova-tarefa {
  color: #000;
}

#container-tarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 120px);
}

/* Botões */
.botoes {
  display: flex;
  margin-top: 5px;
}

.botoes button {
  margin: 0 5px;
}

@media (max-width: 768px) {
  #input-nova-tarefa {
    max-width: 90%;
  }
}
