/* Estilos Gerais */
:root {
  --cor-texto-claro: #000000;
  --cor-fundo-claro: #ffffff;
  --cor-borda-claro: #000000;
  --cor-texto-escuro: #ffffff;
  --cor-fundo-escuro: #0d1117;
  --cor-borda-escuro: #2f81f7;
  --cor-texto-concluido: #888;
  --cor-borda-concluido: #ccc;
  --cor-texto-claro: #333;
  --cor-texto-escuro: #eee;
}

body {
  font-family: sans-serif;
}

.tarefa {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  border: 2px dotted var(--cor-borda-claro);
  background-color: var(--cor-fundo-claro);
  color: var(--cor-texto-claro);
  margin-bottom: 10px;
  word-wrap: break-word; /* Quebra palavras longas */
}

.dark .tarefa {
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-texto-escuro);
  border-color: var(--cor-borda-escuro);
}

.tarefa-texto {
  margin-bottom: 5px;
}

.data-criacao {
  font-size: 12px;
  color: var(var(--cor-texto-claro));
}

.dark .data-criacao {
  color: var(--cor-texto-escuro);
}

/* Tarefas Concluídas */
#tarefas-concluidas .tarefa {
  opacity: 0.7;
  border-color: var(--cor-borda-concluido);
}

#tarefas-concluidas .tarefa-texto {
  text-decoration: line-through;
  color: var(--cor-texto-concluido);
}

/* Listas de Tarefas */
#tarefas,
#tarefas-concluidas {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161b22;
  padding: 20px;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.concluido-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #161b22;
  text-decoration: underline;
  text-align: center;
  margin: 10px;
}

#xp-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

#xp-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#xpPoints {
  font-size: 13px;
  color: #ffffff;
  font-family: "Fira Code", monospace;
}

#xp-tooltip {
  visibility: hidden;
  background-color: #6c757d;
  color: #ffffff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.75rem;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

#xp-tooltip::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #6c757d transparent;
}

#xp-container:hover #xp-tooltip,
#xp-container:focus #xp-tooltip {
  visibility: visible;
  opacity: 1;
}

/* Input */
#input-nova-tarefa {
  width: 100%; /* Ocupa 100% do container pai */
  max-width: 580px; /* Largura máxima para alinhar com a lista */
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box; /* Inclui padding e borda na largura */
  margin: 0 auto; /* Centraliza o input */
  display: block; /* Evita espaços extras */
}

.dark #input-nova-tarefa {
  color: #000;
}

/* Container de tarefas */
#container-tarefas {
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  align-items: center;
  padding: 20px; /* Adiciona padding ao container */
  min-height: calc(
    100vh - 120px
  ); /* Altura mínima para evitar que o footer sobreponha o conteúdo */
}

/* Botões */
.botoes {
  display: flex;
  margin-top: 5px; /* Espaçamento entre o texto/data e os botões */
}

.botoes button {
  margin: 0 5px; /* Espaçamento entre os botões */
}

.footer-fixo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
  #input-nova-tarefa {
    max-width: 90%; /* Ajussta a largura máxima em telas menores */
  }
}
